<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>main.html</welcome-file>
    <welcome-file>start.html</welcome-file>
    <welcome-file>index.js</welcome-file>
  </welcome-file-list>

  <context-param>
    <param-name>param1</param-name>
    <param-value>IT CLASS</param-value>
  </context-param>

  <context-param>
    <param-name>param2</param-name>
    <param-value>Java Web</param-value>
  </context-param>

  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>by.itClass.servlets.MainServlet</servlet-class>
    <init-param>
      <param-name>param3</param-name>
      <param-value>param3 value</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>


</web-app>
        